@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer base {
  :root {
    --color-base: 248 248 248;
    --color-surface: 255 255 255;
    --color-text: 30 30 30;
    --color-btn-hover: 228 228 228;
    --color-btn-active: 222 222 222;
  }
  [data-theme="dark"] {
    --color-base: 24 24 24;
    --color-surface: 31 31 31;
    --color-text: 204 204 204;
    --color-btn-hover: 45 46 46;
    --color-btn-active: 48 49 49;
  }
}
@layer components {
  .bg-base {
    background-color: rgb(var(--color-base));
  }

  .bg-surface {
    background-color: rgb(var(--color-surface));
  }

  .text-main {
    color: rgb(var(--color-text));
  }

  .menu-btn {
    @apply px-3 my-2 rounded-lg h-8 text-sm flex items-center justify-center border-0;
    background-color: rgb(var(--color-base));
    color: rgb(var(--color-text));
  }
  .menu-btn:hover {
    background-color: rgb(var(--color-btn-hover));
  }
  .menu-btn:active {
    background-color: rgb(var(--color-btn-active));
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

.splitpanes {
  background-color: #2b2b2b;
}

.splitpanes__splitter {
  position: relative;
}

.splitpanes--vertical > .splitpanes__splitter:before {
  left: -4px;
  right: -4px;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -4px;
  bottom: -4px;
}

.splitpanes__splitter:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: background-color 0.3s ease;
  z-index: 999;
}

.splitpanes__splitter:hover:before {
  background-color: rgba(0, 120, 212, 0.6);
}

.splitpanes__splitter:active:before {
  background-color: rgb(0, 120, 212);
}

.splitpanes--vertical > .splitpanes__splitter {
  width: 0.5px;
  min-width: 0.5px;
  max-width: 0.5px;
}
.splitpanes--horizontal > .splitpanes__splitter {
  height: 0.5px;
  min-height: 0.5px;
  max-height: 0.5px;
}
