@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
	--vscode-font-size: 13px;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: sans-serif;
}

.bg-base {
	background-color: var(--vscode-panel-background);
	border: 1px solid var(--vscode-panel-border);
}

.bg-surface {
	background-color: var(--vscode-editor-background);
}

.text-main {
	color: var(--vscode-foreground);
}

.menu-btn-icon {
	@apply text-lg mx-3 my-1;
}

.splitpanes {
	background-color: var(--vscode-panel-background);
}

.splitpanes__splitter {
	position: relative;
	border: 0px;
}

.splitpanes--vertical > .splitpanes__splitter:before {
	left: -4px;
	right: -4px;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
	top: -4px;
	bottom: -4px;
}

.splitpanes__splitter:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: background-color 0.3s ease;
	z-index: 999;
}

.splitpanes__splitter:hover:before {
	background-color: rgba(0, 120, 212, 0.6);
}

.splitpanes__splitter:active:before {
	background-color: rgb(0, 120, 212);
}

.splitpanes--vertical > .splitpanes__splitter {
	width: 0px;
	min-width: 0px;
	max-width: 0px;
}
.splitpanes--horizontal > .splitpanes__splitter {
	height: 0px;
	min-height: 0px;
	max-height: 0px;
}
